[log]
level = "debug"
file = "tina.log"

[lua]
script_path = "./scripts"

[plugins]
enabled = ["dummy", "twitch"]

[plugin.dummy]

[plugin.twitch]
# Broadcaster Username
broadcaster_user = ""
# Optional Bot User fall back to broadcast user
bot_user = ""

[queue.seq]
parallel = false
